<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/game.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div id="canvas_wrapper">
    <canvas id="game_canvas"></canvas>
  </div>
  <div id="game_title">
    <p style=>IDT-GAME</p>
    <div>
      <span id="version_info">v0.2.0</span>
      <a href="https://github.com/JaehyeokSong0/IDT-game">
        <img src="images/GitHub-Mark-32px.png" alt="link_github_repo">
      </a>
    </div>
  </div>
  <div id="game_index">
    <p> Input your nickname </p>
    <input id="nickname" placeholder="nickname"></input>
    <p id="submitID_err_msg">&nbsp;</p>
    <button id="submitID_btn">START</button>
  </div>
  <%- include ("lobby.ejs") %>
  <%- include ("selectChar.ejs") %>
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
  <script type="module" src="javascripts/socket.js"></script>
  <script type="module" src="javascripts/game.js"></script>
  <script type="text/javascript" src="json/card.json"></script>
</body>

</html>