<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/game.css' />
</head>

<body>
  <canvas id="game_canvas"></canvas>
  <div id="game_index" style="display: none;">
    <p> Input your nickname </p>
    <input id="nickname" placeholder="nickname"></input>
    <button id="start_btn">START</button>
  </div>
  <%- include ("lobby.ejs") %>
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
  <script type="module" src="javascripts/socket.js"></script>
  <script type="module" src="javascripts/game.js"></script>
  <script type="text/javascript" src="json/card.json"></script>
</body>

</html>