<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/game.css' />
</head>

<body>
  <div id="game_title">
    <p>ProjectSocket</p>
  </div>
  <canvas id="game_canvas"></canvas>
  <div id="game_index">
    <p> Input your nickname </p>
    <input id = "nickname" placeholder="nickname"></input>
    <button id = "start_btn">START</button>
  </div>
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="javascripts/socket.js"></script>
</body>
</html>