<link rel='stylesheet' href='/stylesheets/lobby.css' />
<div id="game_lobby">
  <div id="lobby_table">
    <table>
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Players</th>
        <th>Status</th>
      </tr>
      <tr>
        <td class = "roomNum"></td>
        <td class = "roomTitle"></td>
        <td class = "roomPlayers"></td>
        <td class = "roomStatus"></td>
        <td><button disabled>Join</button></td>
      </tr>
      <tr>
        <td class = "roomNum"></td>
        <td class = "roomTitle"></td>
        <td class = "roomPlayers"></td>
        <td class = "roomStatus"></td>
        <td><button disabled>Join</button></td>
      </tr>
      <tr>
        <td class = "roomNum"></td>
        <td class = "roomTitle"></td>
        <td class = "roomPlayers"></td>
        <td class = "roomStatus"></td>
        <td><button disabled>Join</button></td>
      </tr>
      <tr>
        <td class = "roomNum"></td>
        <td class = "roomTitle"></td>
        <td class = "roomPlayers"></td>
        <td class = "roomStatus"></td>
        <td><button disabled>Join</button></td>
      </tr>
      <tr>
        <td class = "roomNum"></td>
        <td class = "roomTitle"></td>
        <td class = "roomPlayers"></td>
        <td class = "roomStatus"></td>
        <td><button disabled>Join</button></td>
      </tr>
    </table>
  </div>
  <button class = "btn_style_1" id="createRoom_btn">Create Room</button>
</div>
<%- include ("room.ejs") %>