<link rel='stylesheet' href='/stylesheets/lobby.css' />
<div id="game_lobby">
    <table>
       <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Players</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
      <tr>
        <td>9</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
      </tr>
    </table>
  </div>