<link rel='stylesheet' href='/stylesheets/lobby.css' />
<div id="game_lobby">
  <div id="lobby_table">
    <table>
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Players</th>
        <th>Status</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button>JoinRoom</button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button>JoinRoom</button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button>JoinRoom</button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button>JoinRoom</button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button>JoinRoom</button></td>
      </tr>
    </table>
  </div>
  <button id="createRoom_btn">createRoom</button>
</div>
<%- include ("room.ejs") %>