<!-- CreateRoom / WaitingRoom -->

<div class="modal" id="roomModal">
    <div id="createRoomInfo">
        <input placeholder="Input Game Title">
        <button>CREATE</button>
    </div>
    <div id="waitingRoom" style="display: none;">
        <button>START GAME</button>
    </div>
</div>