<!-- CreateRoom / WaitingRoom -->

<div class="modal" id="roomModal">
    <div id="playerInfo" style="position: relative; overflow: hidden; ">
        <span style="align-items: center; display:flex; justify-content:center; float:left; margin-left:3rem; border-radius: 10px; background-color: white; width: 8rem; height: 8rem;">HOST</span>
        <span style="align-items: center; color:white;display:flex; justify-content:center; float:right; margin-right:3rem; border-radius: 10px; background-color: black; width: 8rem; height: 8rem;">GUEST</span>
    </div>
    <div id="createRoomInfo">
        <input placeholder="Input Game Title">
        <button>CREATE</button>
    </div>
    <div id="waitingRoom_host">
        <button disabled>START GAME</button>
    </div>
    <div id="waitingRoom_guest">
        <button>GET READY</button>
    </div>
    <button id="exit_btn">EXIT</button>
</div>