<link rel='stylesheet' href='/stylesheets/selectChar.css' />
<div class="modal" style="display: block;">
    <p style="font-size: large;">Choose your character!</p>
    <div class="slider">
        <button class="shift_btn" id ="char_shift_left" >&lt;&nbsp;&nbsp;</button>
        <div id="char_view_wrapper">
            <div id="char_view"></div>
        </div>
        <button class="shift_btn" id ="char_shift_right">&nbsp;&nbsp;&gt;</button>
    </div>
    <p id="char_name">Cyan</p>
    <button class="btn_style_1" id="char_choice">Submit</button>
</div>