.slider {
    display: flex;
    justify-content: center;
}

.shift_btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-weight: bolder;
    font-size: 4rem;
    color: slategrey;
}

#char_view_wrapper {
    width: 5rem;
    height: 5rem;
    border-radius: 10%;
}

.char_view {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: cyan;
    margin-left: 0.5rem;
    margin-top: 0.5rem
}

#char_choice {
    margin-top: 4rem;
}