body {
  margin: 0;
  padding: 0;
  background-color: white;
  font: 14px "Lucida Console", monospace;
}

.modal {
  display: none;
  width: 44rem;
  height: 22rem;
  background: lightgrey;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 1rem 0;
  text-align: center;
  box-sizing: border-box;
}

#createRoomInfo {
  display: none;
}

#waitingRoom_host {
  display: none;
}

#waitingRoom_guest {
  display: none;
}

#exit_btn {
  margin-top: 2rem;
}