body {
  margin: 0;
  padding: 0;
  background-color: grey;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.modal{
  display: none;
  width: 44rem;
  height: 22rem;
  background: white;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 11rem 0;
  text-align: center;
  box-sizing: border-box;
}